In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Order Items Dataset

In [62]:
order_items_dataset = pd.read_csv('/home/matsa/Documents/project_sprint02/data/olist_order_items_dataset.csv', 
                            sep=',', encoding='utf-8')

In [63]:
order_items_dataset.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [64]:
order_items_dataset.shape

(112650, 7)

In [65]:
order_items_dataset.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [66]:
productx = order_items_dataset.loc[order_items_dataset.order_id == '00143d0f86d6fbd9f9b38ab440ac16f5']
productx

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
32,00143d0f86d6fbd9f9b38ab440ac16f5,1,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.1
33,00143d0f86d6fbd9f9b38ab440ac16f5,2,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.1
34,00143d0f86d6fbd9f9b38ab440ac16f5,3,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.1

### Valores faltantes

In [67]:
order_items_dataset.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

### Duplicatas

In [68]:
order_items_dataset.duplicated().sum()

np.int64(0)

### Excluindo colunas

In [69]:
columns_drop = order_items_dataset.columns[[4,5,6]]

In [70]:
order_items_df_cleaned = order_items_dataset.drop(columns=columns_drop, axis=1)

In [71]:
order_items_df_cleaned.dtypes

order_id         object
order_item_id     int64
product_id       object
seller_id        object
dtype: object

# Order Payments Dataset

In [72]:
order_payments_dataset = pd.read_csv('/home/matsa/Documents/project_sprint02/data/olist_order_payments_dataset.csv')

In [73]:
order_payments_dataset.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [74]:
# procurando pela order_id deixada como exemplo no documento de informações
x = order_payments_dataset.loc[order_payments_dataset.order_id == '00143d0f86d6fbd9f9b38ab440ac16f5']
x

,order_id,payment_sequential,payment_type,payment_installments,payment_value
29413,00143d0f86d6fbd9f9b38ab440ac16f5,1,credit_card,1,109.29

In [75]:
order_payments_dataset.shape

(103886, 5)

In [76]:
order_payments_dataset.dtypes

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

### Valores faltantes

In [77]:
order_payments_dataset.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

### Duplicatas

In [78]:
order_payments_dataset.duplicated().sum()

np.int64(0)

### Excluindo colunas

In [79]:
columns_drop = order_payments_dataset.columns[[1,2,3]]

In [80]:
order_payments_df_cleaned = order_payments_dataset.drop(columns=columns_drop, axis=1)

In [81]:
order_payments_df_cleaned.dtypes

order_id          object
payment_value    float64
dtype: object

# Orders Dataset

In [82]:
orders_dataset = pd.read_csv('/home/matsa/Documents/project_sprint02/data/olist_orders_dataset.csv')

In [83]:
orders_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [84]:
orders_dataset.shape

(99441, 8)

In [85]:
orders_dataset.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

### Valores faltantes

In [86]:
orders_dataset.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [87]:
#excluindo valores NaN
orders_dataset.dropna(axis=0, inplace=True)

In [88]:
orders_dataset.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

In [89]:
orders_dataset_copy.shape

NameError: name 'orders_dataset_copy' is not defined

### Duplicatas

In [ ]:
orders_dataset.duplicated().value_counts()

### Últimos 12 meses

Convertendo a data do tipo object para date_time, assim fica mais simples manipular as datas

In [ ]:
orders_dataset['order_approved_at'] = pd.to_datetime(orders_dataset.order_approved_at)

In [ ]:
orders_dataset.dtypes

Calculando o intervalo de 12 meses

In [ ]:
last_order_date = orders_dataset.order_approved_at.max()
last_order_date

In [ ]:
min_order_date = last_order_date - pd.DateOffset(months=12)
min_order_date

In [ ]:
orders_dataset = orders_dataset.loc[(orders_dataset.order_approved_at >= min_order_date) &
                                    (orders_dataset.order_approved_at <= last_order_date)]

In [ ]:
orders_dataset.shape

In [ ]:
orders_dataset.order_approved_at.max()

In [ ]:
orders_dataset.order_approved_at.min()

### Excluindo colunas

In [ ]:
columns_drop = orders_dataset.columns[[3,5,6,7]]

In [ ]:
orders_df_cleaned = orders_dataset.drop(columns=columns_drop, axis=1)

In [ ]:
orders_df_cleaned.dtypes

# Products Dataset

In [ ]:
products_dataset = pd.read_csv('/home/matsa/Documents/project_sprint02/data/olist_products_dataset.csv', 
                            sep=',', encoding='utf-8')

products_dataset.head()

In [ ]:
products_dataset.shape

In [ ]:
products_dataset.dtypes

### Valores faltantes

In [ ]:
products_dataset.isnull().sum()

In [ ]:
null_values = products_dataset[products_dataset.product_category_name.isnull()]
null_values.head()

In [ ]:
null_values = products_dataset[products_dataset.product_weight_g.isnull()]
null_values

A ideia é excluir apenas os registros em que o **'product_category_name' é NaN**, pois registros com esse valor faltante não vão auxiliar na análise

In [ ]:
products_dataset = products_dataset.dropna(subset=['product_category_name'], axis=0)

In [ ]:
products_dataset.isnull().sum()

### Removendo colunas

Tomei como conclusão que as colunas abaixo não vão auxiliar na análise

In [ ]:
columns_drop = products_dataset.columns[[2,3,4,5,6,7,8]]

In [ ]:
products_df_cleaned = products_dataset.drop(columns=columns_drop, axis=1)

In [ ]:
products_df_cleaned.shape

### Duplicatas

In [ ]:
products_df_cleaned.duplicated().value_counts()

# Customers Dataset

In [ ]:
customers_dataset = pd.read_csv('/home/matsa/Documents/project_sprint02/data/olist_customers_dataset.csv', 
                            sep=',', encoding='utf-8')

In [ ]:
customers_dataset.head()

In [ ]:
customers_dataset.shape

In [ ]:
customers_dataset.dtypes

### Valores faltantes

In [ ]:
customers_dataset.isnull().sum()

### Duplicatas

In [ ]:
customers_dataset.duplicated().value_counts()

As duplicatas são clientes que realizaram compras mais de uma vez

In [ ]:
customers_dataset.customer_unique_id.duplicated().value_counts()

### Excluindo colunas

In [ ]:
columns_drop = customers_dataset.columns[[2,3,4]]

In [ ]:
customers_df_cleaned = customers_dataset.drop(columns=columns_drop, axis=1)

In [ ]:
customers_df_cleaned.dtypes

# Sellers Dataset

In [ ]:
sellers_dataset = pd.read_csv('/home/matsa/Documents/project_sprint02/data/olist_sellers_dataset.csv', 
                            sep=',', encoding='utf-8')

In [ ]:
sellers_dataset.head()

In [ ]:
sellers_dataset.dtypes

In [ ]:
sellers_dataset.shape

### Valores faltantes

In [ ]:
sellers_dataset.isnull().sum()

### Duplicatas

In [ ]:
sellers_dataset.duplicated().sum()

In [ ]:
sellers_dataset.duplicated().value_counts()

### Excluindo colunas

In [ ]:
columns_drop = sellers_dataset.columns[[1,2,3]]

In [ ]:
sellers_df_cleaned = sellers_dataset.drop(columns=columns_drop, axis=1)

In [ ]:
sellers_df_cleaned.dtypes

# ---------------------------------------------------------------------------------------------------------------------

# Quais são as categorias com maior e menor receita?

### Merge dos datasets products, order items, orders e order payments

In [ ]:
merged_df = pd.merge(order_items_df_cleaned, products_df_cleaned, on='product_id', how='inner')
merged_df.head()

In [ ]:
merged_df = pd.merge(merged_df, orders_df_cleaned, on='order_id', how='inner')
merged_df.head()

In [ ]:
merged_df = pd.merge(merged_df, order_payments_df_cleaned, on='order_id', how='inner')
merged_df.head()

### Valores faltantes

In [ ]:
merged_df.isnull().sum()

### Duplicatas

In [ ]:
merged_df.duplicated().sum()

**Excluindo as duplicatas utilizando como parâmetros as chaves que uniram os dataframes**

In [ ]:
final_merged_df = merged_df.drop_duplicates(subset=(['order_id', 'product_id']))

In [ ]:
final_merged_df.shape

In [ ]:
final_merged_df.duplicated().sum()

### Agrupando pela categoria e o valor total

In [ ]:
group_by_category_payment = final_merged.groupby('product_category_name')['payment_value']

In [ ]:
# somando os payment values das categorias
group_by_category_payment = group_by_category_payment.sum()

In [ ]:
df_category_payment = group_by_category_payment.reset_index()

In [ ]:
df_category_payment

In [ ]:
df_category_payment_sorted = df_category_payment.sort_values(by=['payment_value'], ascending=False)

beleza_saude - 1162367.44

seguro_e_servicos - 115.45

In [ ]:
df_category_payment_sorted

### Visualização através do gráfico de barras

In [ ]:
top_10_categories = df_category_payment_sorted.head(10)

In [ ]:
bottom_10_categories = df_category_payment_sorted.tail(10)

In [90]:
plt.figure(figsize=(10,6))
sns.barplot(data=top_10_categories, x='payment_value', y='product_category_name', hue='product_category_name')

# Personalizando o gráfico
plt.title('Categorias com maior receita', fontsize=16)
plt.xlabel('Receita total (R$)', fontsize=12)
plt.ylabel('Categoria do Produto', fontsize=12)
plt.tight_layout()

plt.show()

NameError: name 'top_10_categories' is not defined

In [ ]:
plt.figure(figsize=(10,6))
sns.barplot(data=bottom_10_categories, x='payment_value', y='product_category_name', hue='product_category_name')

# Personalizando o gráfico
plt.title('Categorias com menor receita', fontsize=16)
plt.xlabel('Receita total (R$)', fontsize=12)
plt.ylabel('Categoria do produto', fontsize=12)
plt.tight_layout()

plt.show()